<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d5aa19ec-a1ea-4149-88db-e42d7c14b885/resourcegroups/BudgetKeeper/providers/Microsoft.Web/sites/budgetkeeper-api</ResourceId>
    <ResourceGroup>BudgetKeeper</ResourceGroup>
    <ApiResourceId>/subscriptions/d5aa19ec-a1ea-4149-88db-e42d7c14b885/resourceGroups/BudgetKeeper/providers/Microsoft.ApiManagement/service/BudgetKeeperapi/apis/BudgetKeeper</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://budgetkeeper-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b9bb62cb-74c1-4111-acbd-216d5fd6c9a6</ProjectGuid>
    <MSDeployServiceURL>budgetkeeper-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>budgetkeeper-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$budgetkeeper-api</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>