<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d5aa19ec-a1ea-4149-88db-e42d7c14b885/resourceGroups/BudgetKeeper/providers/Microsoft.Web/sites/budgetkeeper-ui</ResourceId>
    <ResourceGroup>BudgetKeeper</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://budgetkeeper-ui.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>0be46dd1-298b-4373-a591-665ce53beb5d</ProjectGuid>
    <MSDeployServiceURL>budgetkeeper-ui.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>budgetkeeper-ui</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$budgetkeeper-ui</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Зависит от платформы</SelfContained>
    <RuntimeIdentifier>Переносимый</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAvSQ8fLspXUOSsQ93g7WG8gAAAAACAAAAAAAQZgAAAAEAACAAAAAumYsXxLM4MdlQybRqruP7aoUDI/GGYBfIu/GQK9tqYwAAAAAOgAAAAAIAACAAAABzSMIYkw9EIcc0m+myWZO/YNx2EhYIghVEfirHD0mMj4AAAABuMr+bFLaZlpsoNyWteJXq5XuBe6i0AYzwHAM9/O45BB7Y1IfkNdbQeyzyVHUAK/vH1+qUolE0FySciqn86TmV6t5tqkUENUUNkyMB5QDn+Aa7jUyYuoQPx6zRqV9jJHlrK05WAvXt0k+PzcbBkHPxpFpQa399V2r7tBlcWoXDfkAAAAANJx6+hqa3Iz7gBRyeeNzAAQ8wfShNtUQrg+nFaS+RUYvEnufMbhTAUqqs5XJmNEPX4VBb6YpGOyPh91gFk3dG</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>